@import "tailwindcss";

html {
  background-color: #000000 !important;
  color: #ffffff;
  overflow-x: hidden;
}

body {
  background-color: #000000 !important;
  color: #ffffff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
